
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fff;
    box-shadow: none;
  }
  
  .section {
    display: flex;
    align-items: center;
  }
  
  .h1 {
    font-weight: 700;
    font-family: Corben, sans-serif;
    font-size: 34px;
  }
  
  .navbar-link {
    margin: 0 23px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    font-family: Corben, sans-serif;
  }
  
  .navbar-logo {
    width: 200px;
    height: 200px;
    margin-right: 0.5rem;
  }
  
  .navbar-icon{
    width: 180px;
    height: 129px;
  }
  .FindUs {
    margin-right: 20px;
    font-weight: 700;
    font-family: Corben, sans-serif;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav {
      flex-direction: column;
    }
    .section {
      margin: 1rem 0;
      justify-content: center;
    }
    .left-section, .right-section {
      margin: 0;
    }
    .AqoLogo {
      margin-bottom: 1rem;
    }
  }
  

  .section-titles{
    padding-right: 25vw;
  }