@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');


:root{
  --white: #f9f9f9;
  --black: #36383F;
  --grey: #85888C;
  
  
  --vs-primary: 29 92 255;
}

  .navbar-logo {
    width: 200px;
    height: 200px;
    padding: 0 0 0 .5vw;
  }
  a{
    text-decoration: none;
    font-family: Corben;
    font-size: 33px;
    font-weight: 700;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color:  #f9f9f9;
    top: 0;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}



/* Nav menu */
.nav{
    width: 100%;
    height: 30%;
    background-color:white;
    overflow: hidden;
    justify-content: center;
    
}

.menu a{
    display: flex;
    padding: 30px 55px 0 10px;
    color: #000;

}

.menu a:hover{
    background-color: var(--grey);
}


.menu{
  align-items: center;
  justify-content: center;
  padding-right: 133px;
}
.menu li{
  padding: 0 0 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav{
    max-height: 0;
    transition: max-height .1s ease-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.Button-close{
	font-family: Corben;
  font-size: 2rem;
	color: black;
	background: #FFD33B !important;
	padding: 2rem 2rem;
  margin: 55px 55px;
	border-radius: 17px;
	transition: background-color 0.1s ease;
	box-sizing: border-box;
	transition: all 0.25s ease;
	border: 0;
	cursor: pointer;
	box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);
	&:hover {
		box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
		transform: translateY(-5px);
	}
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 50px 30px;
}


.hamb-line {
    background: #000;
    display: block;
    height: 2px;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
   
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 30%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: white;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}



/* Responsiveness */

@media (min-width: 768px) {
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: white;

  }

  .menu li{
      float: left;
  }

  .menu a:hover{
      background-color: white;
      color: var(--grey);
      
  }
  
  .hamb{
      display: none;
  }

}