.footer-grid{
padding: 66px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
gap: 10px;
}
.footer-container{
    color: black;
    padding: 1rem;
    text-align: center;
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-container{
    font-family: sans-serif;
    font-size: 15px;
}

.anchor-footer{
    text-decoration: none;
}
.anchor-footer:visited{
    text-decoration: underline;
}